/* About us */
.aboutus .heading-graphis{
    background: url(images/about-head-bg.png) no-repeat;
    width: auto;
    height: auto;
    padding: 10px 150px;
    top: 30px;
    left: 50%;
    right: 0;
    text-align: left;
    transform: translate(-50%, -50%);
}

.aboutus .heading-graphis:after{
	display: none;
}

.aboutus{border-top: 10px solid #EEBD43;}

/*.aboutus .banner-graphics {
    top: -80px;
    border-bottom: 10px solid #eebd43;
    height: 90px;
    left: 110px;	
}*/

/*.aboutus .content{
	padding: 20px 200px;
	margin: 50px 0;
}*/

.aboutus .content{
	padding: 70px 0;
	
}

.aboutus .content h2{
	margin-top: 50px;
	font-size: 22px;
}

/* Feedback */

.feedback .heading-graphis{
    background: url(images/feedback_bar.png) no-repeat;
}

/*.feedback .banner-graphics {
    border-bottom: 10px solid #989b42;
}*/

.feedback .content p span{
	color: #989b42;
}

.feedback form{
	font-family: 'Chau Philomene One', sans-serif;
	padding: 20px 50px;
}

.feedback .form-group{
	margin-bottom: 20px;
}

.feedback form label{
    vertical-align: top;
	font-weight: normal;
	    font-size: 18px;
} 

.feedback form input{
	background: none;
    height: 40px;
    font-size: 20px;
    font-family: 'Fjalla One', sans-serif;
}

.feedback form textarea{
	background: none;
}

.feedback form input[type='submit']{
    background: #989b42;
    height: 35px;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid #989b42;
    letter-spacing: 1px;
    border-radius: 5px;
    transition: 0.5s;
}

.feedback form input[type='submit']:hover{
	/*background: none;
	color: #989b42;*/

	color: #fff;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.aboutus .banner-graphics {
	    top: -50px;
	    height: 60px;
	    left: 75px;
	}

	.aboutus .heading-graphis {
	    padding: 10px 0;
	    top: 30px;
	    left: 50%;
	    text-align: center;
	    display: inline-block;
	    width: 50%;
	    background-size: cover;
	}

	.aboutus .content h2 {
	    margin-top: 20px;
	}

	.aboutus .content {
	    padding: 20px 50px;
	    margin: 20px 0;
	}

	.about-page h2 {
	    top: -24px;
	}
}

@media screen and (max-width: 767px) {
	.aboutus .banner-graphics {
	    display: none;
	}

	.aboutus .content {
	    padding: 20px 70px;
	    margin: 0;
	}

	.aboutus .heading-graphis {
	    padding: 10px;
	    text-align: center;
	    background-size: cover;
	    background: #eebd43;
	    top: 0;
	    left: 0;
	    transform: translate(0);
	}

	.aboutus .content h2 {
	    margin-top: 10px;
	}

	.feedback .heading-graphis {
	    background: #989b42;
	}

	.feedback form label,.feedback form input, .feedback form input[type='submit'], .feedback form textarea {
	    width: 100%;
        padding: 0;
	}
}

@media screen and (max-width: 480px) {
	.aboutus .content {
	    padding: 50px 20px;
	}
}